/* Design approach - mobile first */

@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Handlee:wght@400;500;600&display=swap");

:root {
    --dark-blue: #374771;
    --blue: #138fcc;
    --torquoise: #3cc4bf;
    --caramel: #cc7e52;
    --light-gray: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    background-color: var(--dark-blue);
}

body {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
}

/* Shared utility styles */

.projects-wrap, .experience-wrap, .skills-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    line-height: 1.5;
    text-align: center;
}

img {
    height: 200px;
    width: auto;
    margin: 20px;
    border-radius: 50%;
}

/* Header styles */

header {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('./photos/mountain.jpg');
    background-size: cover;
}

.menu {
    width: 100%;
    padding: 10px;
    text-align: right;
}

.menu li {
    display: inline-block;
}

.menu-items {
    display: none;
}

#options-menu {
    color: #333;
    font-size: 1.5rem;
    margin: 5px;
}

.menu-items li a {
    text-decoration: none;
    margin: 10px;
    font-size: 0.875rem;
    color: var(--caramel);
}

.menu-items a:hover {
    cursor: pointer;
    color: var(--torquoise);
}

h1 {
    text-align: center;
    margin: 400px auto;
    padding: 0 8px;
    font-family: 'Handlee', cursive;
}

/* Main content styles */

.projects-wrap {
    /* background-color: red; */
}

/* Footer styles */

footer {
    background-color: var(--light-gray);
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 0.875rem;
    color: #333;
}

footer p {
    margin-right: 15px;
}

.sm-icon {
    margin-left: 15px;
    color: #333;
}

/* Responsive styles */

@media (min-width: 768px) {
    .menu-items li a {
        font-size: 1rem;
    }

    .menu-items {
        display: inline-block;
    }

    #options-menu {
        display: none;
    }

    h1 {
        padding: 0;
    }

    .projects, .experience, .skills {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}