/* Design approach - mobile first */

@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Handlee:wght@400;500;600&display=swap");

:root {
    --dark-blue: #374771;
    --blue: #138fcc;
    --torquoise: #3cc4bf;
    --caramel: #cc7e52;
    --light-gray: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: grayscale;
}

html,
body {
    background-color: var(--dark-blue);
    scroll-behavior: smooth;
}

body {
    padding: 0 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Header styles */

header {
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    background-image: url('./photos/mountain.jpg');
    background-size: cover;
}

.header {
    width: 100vw;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
}

.logo a {
    font-size: 1.3rem;
    color: var(--caramel);
    text-decoration: none;
}

.menu {
    width: 100%;
    padding: 10px;
    text-align: right;
}

.menu-items {
    display: none;
}

.menu li {
    display: inline-block;
}

.menu-items li {
    margin: 7px auto;
}

.menu-items.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    width: 100vw;
}

.mobile-menu {
    background: transparent;
    color: var(--caramel);
    font-size: 1.5rem;
}

.mobile-menu:hover {
    cursor: pointer;
}

.menu-items li a {
    text-decoration: none;
    margin: 5px;
    color: var(--caramel);
}

.menu-items a:hover {
    cursor: pointer;
    color: var(--torquoise);
}

h1 {
    text-align: center;
    margin: 250px auto;
    padding: 0 8px;
    font-family: 'Handlee', cursive;
}

/* Main content styles */

h2 {
    margin: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me,
#projects,
#skills {
    /* scroll-margin-top: 40px; */
}

.img-holder {
    background-size: cover;
    height: 150px;
    width: 150px;
    border: 0.5px solid var(--light-gray);
    border-radius: 50%;
}

.about-wrap, .skills-wrap {
    text-align: center;
    margin-bottom: 2rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me .img-holder {
    margin: 20px auto;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid white;
    padding: 10px;
    margin-bottom: 2rem;
}

.projects .img-holder {
    background-image: url(photos/mac1.jpg);
    margin: 20px auto;
}

.projects h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    color: var(--torquoise);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.project-btn {
    font-family: inherit;
    font-size: inherit;
    margin: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    background: white;
    color: var(--caramel);
}

.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.img {
    height: 100px;
    width: 100px;
    background-size: cover;
}

#css {
    background-image: url(css-logo.png);
}

#js {
    background-image: url(JavaScript-logo.png);
}

#react {
    background-image: url(React-icon.svg.png);
    width: 120px;
    height: 100px;
}

#python {
    background-image: url(python-logo.png);
}

#jira {
    background-image: url(jira.jpeg);
    background-position: center;
}

.container {
    width: 60%;
    background-color: #ddd;
    margin: 20px auto;
    border: none;
    border-radius: 4px;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: var(--torquoise);
  }

.css {
    width: 80%;
    border-radius: 4px 0 0 4px;
}

.js {
    width: 70%;
    border-radius: 4px 0 0 4px;
}

.react {
    width: 45%;
    border-radius: 4px 0 0 4px;
}

.python {
    width: 25%;
    border-radius: 4px 0 0 4px;
}

.jira {
    width: 65%;
    border-radius: 4px 0 0 4px;
}

/* Footer styles */

footer {
    background-color: var(--light-gray);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 0.875rem;
    color: #333;
}

.contact-me {
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px auto;
}

label,
input,
textarea {
    margin: 2px 0;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea {
    border-radius: 3px;
    border: 0.5px solid #333;
}

input {
    padding: 10px;
}

.button-container,
.contact-me {
    text-align: center;
}

.send-btn {
    margin: 7px 0;
    padding: 10px;
    background-color: var(--caramel);
    color: white;
    border-radius: 3px;
    width: 50%;
    font-family: inherit;
    font-size: inherit;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 0.5rem;
    font-size: 2.5rem;
    border: none;
    background: transparent;
}

.to-top-icon {
    color: var(--caramel);
}

.media {
    display: flex;
}

.sm-icon {
    margin-left: 15px;
    color: #333;
}

/* Responsive styles */

@media (min-width: 768px) {
    .logo a {
        font-size: 2rem;
        text-decoration: none;
    }

    .menu-items li {
        margin: 0;
    }

    .menu-items li a {
        font-size: 1rem;
    }

    .menu-items {
        display: inline-block;
    }

    .mobile-menu {
        display: none;
    }

    h1 {
        padding: 0;
        margin: 450px auto;
    }

    h2 {
        margin: 20px;
        text-align: center;
    }

    .img-holder {
        background-size: cover;
        height: 11.25rem;
        width: 11.25rem;
    }

    .about-me, .skills {
        flex-direction: row;
    }

    .about-me .img-holder {
        margin: auto 50px auto 0;
    }

    .about-me p {
        width: 600px;
        text-align: justify;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    
    .projects {
        border: 0.5px solid white;
        border-radius: 7px;
        margin: 10px auto;
        padding: 5px;
        width: 250px;
    }

    .skills-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .card {
        width: 200px;
        height: 200px;
    }

    footer {
        font-size: 1rem;
    }

    input,
    textarea {
        width: 350px;
    }

    .send-btn {
        max-width: 7.5rem;
    }

    .back-to-top {
        right: 1.5rem;
    }

    /* Gallery styles */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .grid-item {
        object-fit: cover;
    }

    .grid-item img {
        width: 150px;
        height: 150px;
    }
}