* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: "Open Sans Condensed", sans-serif;
    color: #333;
}

header {
    background: #235;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    color: #fff;
    margin: 5px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
}