body {
    background-color: cadetblue;
}

#my_id {
    color: white;
    text-align: center;
}

.my_class {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

/* Comment in CSS. */